@page "/projects"
@using ASPectLibrary
@inject HttpClient httpClient
@inject NavigationManager NavManager

@if(offerings == null)
{
	<p>Loading... check console</p>
}
else
{	
<div class ="wholePage">
	<h1>View Teams</h1>
	<div class="offeringSection"> 
		@*Drop down*@
		<label for="offerings">Course Offerings:</label>
		<select name="offerings">
		 	@foreach (var o in offerings)
		 	{
				 @*onClick is getting offeringID*@
				<option onclick="@selectedOffering = @o">@o.Semester @o.Year @o.Course.CourseTitle</option> 
			}
		</select>
	</div>
	<div class="projectSection">
		<table>
			<tr>
				<th>Project ID</th>
				<th>Team Name</th>
				<th>App Name</th>
			</tr>
			@foreach (var proj in @selectedOffering.Projects) @*making a row for every project*@
			{
				<tr>
					<td>@proj.ProjectId</td>
					<td>@proj.TeamName</td>
					<td>@proj.AppName</td>
					<button type="button" href="/projects/${@proj.ProjectId}">View Project</button>
				</tr>
			}
		</table>
	</div>
</div>
}

@code {
	Offering[] offerings;
	Offering selectedOffering;

	//ICollection<Project> projects;
	//[Parameter]
	//public string Id { get; set; }
	//Project project;
	//IEnumerable<ApplicationUser> team;
	protected override async Task OnInitializedAsync()
	{
		await loadOfferings();
		foreach(var o in offerings)
		{
			Console.WriteLine(o.OfferingId);
		}
		selectedOffering = offerings[0];
	}

	public async Task loadOfferings()
	{
		offerings = await httpClient.GetFromJsonAsync<Offering[]>("https://localhost:5001/api/Offering");
	}
}
