@page "/Instregister"
@inject HttpClient httpClient
@inject NavigationManager navigateManager 

<h1>Instructor Register</h1>

<EditForm Model="@user" OnValidSubmit="@HandleAdd">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-elements">
        <label>First Name</label>
        <InputText placeholder="First Name" id="firstName" @bind-Value="@user.FirstName" />
    </div>
    <br />
    <div class="form-elements">
        <label>Last Name</label>
        <InputText placeholder="Last Name" id="lastName" @bind-Value="@user.LastName" />
    </div>
    <div class="form-elements">
        <label>Email</label>
        <InputText placeholder="Email" id="email" @bind-Value="@user.Email" />
    </div>
    <div class="form-elements">
        <label>Password</label>
        <InputText placeholder="Password" id="password" @bind-Value="@user." /> 
    </div>
</EditForm>

@functions {
    string baseUrl = "https://localhost:5001/";
    ApplicationUser user = new ApplicationUser();

    private async void HandleAdd()
    {
        string endpoint = $"{baseUrl}api/Auth/register";
        await httpClient.PostAsJsonAsync(endpoint, user);
        navigateManager.NavigateTo("/studentlist");
    }
}

