@page "/register"
@inject HttpClient httpClient
@inject NavigationManager navigateManager 

<h1>Instructor Register</h1>

<EditForm Model="@model" OnValidSubmit="@HandleAdd">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-elements">
        <label>First Name</label>
        <InputText placeholder="First Name" id="firstName" @bind-Value="@model.FirstName" />
    </div>
    <br />
    <div class="form-elements">
        <label>Last Name</label>
        <InputText placeholder="Last Name" id="lastName" @bind-Value="@model.LastName" />
    </div>
    <div class="form-elements">
        <label>Email</label>
        <InputText placeholder="Email" id="email" @bind-Value="@model.Email" />
    </div>
    <div class="form-elements">
        <label>Password</label>
        <InputText placeholder="Password" id="password" @bind-Value="@model.Password" /> 
    </div>

    <button type="submit" class="btn btn-success">Register</button>
</EditForm>

@functions {
    string baseUrl = "https://localhost:5001/";
    RegisterViewModel model = new RegisterViewModel();

    private async void HandleAdd()
    {
        string endpoint = $"{baseUrl}api/Auth/register";
        await httpClient.PostAsJsonAsync(endpoint, model);
        navigateManager.NavigateTo("/studentlist");
    }
}

